<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
				</div>
				<div class="col-md-12 column">
					<div class="page-header">
						<h1>
							Дисциплины кафедры программирования 
						</h1>
					</div>
					<h3>
						1 курс (бакалавр (интегрированный))
					</h3>
					<ul>
						<li>
							Алгоритмы и алгоритмические языки
						</li>
						<li>
							Архитектура ЭВМ и языки ассемблера
						</li>
						<li>
							Дискретная математика
						</li>
						<li>
							Практикум на ЭВМ
						</li>
					</ul>
					<h3>
						2 курс (бакалавр (интегрированный))
					</h3>
					<ul>
						<li>
							Операционные системы
						</li>
						<li>
							Учебная практика (Практикум на ЭВМ) III семестра
						</li>
						<li>
							Системы программирования
						</li>
						<li>
							Учебная практика (Практикум на ЭВМ) IV семестра
						</li>
					</ul>
					<h3>
						3 курс (бакалавр (интегрированный))
					</h3>
					<ul>
						<li>
							Основы кибернетики
						</li>
						<li>
							Практикум на ЭВМ
						</li>
						<li>
							Базы данных
						</li>
						<li>
							Суперкомпьютеры и параллельная обработка данных
						</li>
						<li>
							Компьютерная графика
						</li>
						<li>
							Методы оптимизации
						</li>
						<li>
							Введение в сети  ЭВМ
						</li>
						<li>
							Формальные языки и автоматы
						</li>
						<li>
							Основы программной инженерии
						</li>
						<li>
							Сложность алгоритмов
						</li>
						<li>
							Спецсеминар
						</li>
					</ul>
					Дисциплины по выбору кафедр:
					<ul>
						<li>
							Функциональное программирование (кафедра АЯ факультета ВМК МГУ)
						</li>
						<li>
							Конструирование ядра операционной системы (кафедра СКИ факультета ВМК МГУ)
						</li>
						<li>
							Квантовые вычисления (кафедра СКИ факультета ВМК)
						</li>
						<li>
							Алгоритмы оптимизации, основанные на методе проб и ошибок (кафедра АСВК факультета ВМК)
						</li>
					</ul>
					<h3>
						4 курс (специалист)
					</h3>
					<ul>
						<li>
							Практикум на ЭВМ
						</li>
						<li>
							Основы кибернетики
						</li>
						<li>
							Параллельная обработка данных
						</li>
						<li>
							Спецсеминар по выбору студента (список)
						</li>
						<li>
							Математическая логика и логическое программирование
						</li>
						<li>
							Конструирование компиляторов
						</li>
						<li>
							Распределенные операционные системы
						</li>
						<li>
							Искусственный интеллект
						</li>
						<li>
							Компьютерные сети
						</li>
						<li>
							Современные проблемы прикладной математики «Суперкомпьютерные технологии»
						</li>
						<li>
							Объектно-ориент.анализ и проектирование
						</li>
						<li>
							Спецкурс по выбору студента (список)
						</li>
					</ul>
					<h3>
						5 курс (специалист)
					</h3>
					<ul>
						<li>
							Спецсеминар по выбору «Использование средств объектно-ориентированного программирования для реализации криптографических алгоритмов»
						</li>
						<li>
							Спецкурс по выбору студента «Интеллектуализированные геоинформационные системы»
						</li>
						<li>
							Производственная практика
						</li>
					</ul>
					<div class="page-header">
						<h1>
							Дисциплины кафедры прикладной математики 
						</h1>
					</div>
					<h3>
						Общие гуманитарные и социально-экономические дисциплины:
					</h3>
					<ul>
						<li>
							Английский язык
						</li>
						<li>
							Физическое воспитание
						</li>
						<li>
							История Отечества
						</li>
						<li>
							Философия
						</li>
						<li>
							Экономические науки
						</li>
						<li>
							Социология
						</li>
					</ul>
					<h3>
						Общие математические и естественно-научные дисциплины:
					</h3>
					<ul>
						<li>
							Математический анализ
						</li>
						<li>
							Алгебра и геометрия
						</li>
						<li>
							Алгоритмы и алгоритмические языки
						</li>
						<li>
							Физика
						</li>
						<li>
							Компьютерная графика
						</li>
						<li>
							Статистическая физика
						</li>
						<li>
							Квантовая физика и синергетика
						</li>
						<li>
							Современные проблемы прикладной математики
						</li>
						<li>
							История и методология прикладной математики
						</li>
					</ul>
					<h3>
						Общепрофессиональные дисциплины:
					</h3>
					<ul>
						<li>
							Обыкновенные дифференциальные уравнения
						</li>
						<li>
							Дискретная математика
						</li>
						<li>
							Теория вероятностей и математическая статистика
						</li>
						<li>
							Уравнения математической физики
						</li>
						<li>
							Архитектура ЭВМ и язык ассемблера
						</li>
						<li>
							Системное программное обеспечение
						</li>
						<li>
							Системы программирования
						</li>
						<li>
							Практикум на ЭВМ
						</li>
						<li>
							Методы оптимизации
						</li>
						<li>
							Оптимальное управление
						</li>
						<li>
							Введение в численные методы
						</li>
						<li>
							Функциональный анализ
						</li>
						<li>
							Численные методы
						</li>
						<li>
							Базы данных
						</li>
						<li>
							Теория игр и исследование операций
						</li>
						<li>
							Основы кибернетики
						</li>
						<li>
							Параллельная обработка даных
						</li>
						<li>
							Безопасность жизнедеятельности
						</li>
					</ul>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
</div>
