- content_for(:title, 'Дисциплины')
%h1 Дисциплины
%p 	
	1 курс (бакалавр (интегрированный))
	%p
		Алгоритмы и алгоритмические языки
	%p
		Архитектура ЭВМ и языки ассемблера
	%p	
		Дискретная математика
	%p
		Практикум на ЭВМ
%p
	2 курс (бакалавр (интегрированный))
	%p
		Операционные системы
	%p
		Учебная практика (Практикум на ЭВМ) III семестра
	%p	
		Системы программирования
	%p	
		Учебная практика (Практикум на ЭВМ) IV семестра

	3 курс (бакалавр (интегрированный))

	Основы кибернетики
	Практикум на ЭВМ
	Базы данных
	Суперкомпьютеры и параллельная обработка данных
	Компьютерная графика
	Методы оптимизации
	Введение в сети  ЭВМ
	Формальные языки и автоматы
	Основы программной инженерии
	Сложность алгоритмов
	Спецсеминар

	Дисциплины  по выбору кафедры:

	Функциональное программирование (кафедра АЯ факультета ВМК МГУ)
	Конструирование ядра операционной системы (кафедра СКИ факультета ВМК МГУ)
	Квантовые вычисления (кафедра СКИ факультета ВМК)
	Алгоритмы оптимизации, основанные на методе проб и ошибок (кафедра АСВК факультета ВМК)

	4 курс (специалист)

	Практикум на ЭВМ
	Основы кибернетики
	Параллельная обработка данных
	Спецсеминар по выбору студента (список)
	Математическая логика и логическое программирование
	Конструирование компиляторов
	Распределенные операционные системы
	Искусственный интеллект
	Компьютерные сети
	Современные проблемы прикладной математики «Суперкомпьютерные технологии»
	Объектно-ориент.анализ и проектирование
	Спецкурс по выбору студента (список)

	5 курс (специалист)

	Спецсеминар по выбору «Использование средств объектно-ориентированного программирования для реализации криптографических алгоритмов»
	Спецкурс по выбору студента «Интеллектуализированные геоинформационные системы»
	Производственная практика


