<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
            <li>
              <a href="/">Главная</a>
            </li>
            <li>
              <a href="/articles">Новости</a>
            </li>
          </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="mailto:cyberbugoff@gmail.com">Сайт разработан Жуковым Николаем</a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
</div>